body {
  background-color: white;
  font-family: "Roboto", sans-serif;
  color: #434455;
}

header {
  justify-content: space-between;
  align-items: center;
}

a,
p,
h1,
h2,
h3,
button {
  font-style: normal;
  color: inherit;
}

button {
  cursor: pointer;
}

nav {
  justify-content: space-around;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

nav ul {
  justify-content: space-around;
  gap: 40px;
}

nav ul li a {
  font-size: 16px;
  font-weight: 500;
}

address {
  justify-content: center;
}

address ul {
  justify-content: space-around;
  gap: 40px;
}

address ul li a {
  font-size: 16px;
  font-weight: 400;
  color: #434455;
}

header .logo-header {
  font-family: "Raleway", serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  color: #2e2f42;
}

header .logo-header span {
  color: #4d5ae5;
}

.preview {
  background-color: #2e2f42;
}

.preview h1 {
  font-size: 56px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}

.preview button {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  border: 0;
}

.plans ul li h3 {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
}

.plans ul li p {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
}

.team {
  background-color: #f4f4fd;
}

.team h2 {
  font-size: 36px;
  font-weight: 700;
}

.team ul li div h3 {
  font-size: 20px;
  font-weight: 500;
  color: #2e2f42;
}

.team ul li div p {
  font-size: 16px;
  font-weight: 400;
  color: #434455;
}

.portfolio h2 {
  font-size: 36px;
  font-weight: 700;
  color: #2e2f42;
}

.portfolio ul li div h3 {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
}

.portfolio ul li div p {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
}

footer {
  background-color: #2e2f42;
}

footer .logo-footer {
  font-family: "Raleway", serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  color: #f4f4fd;
}

footer .logo-footer span {
  color: #4d5ae5;
}

footer div p {
  font-size: 16px;
  font-weight: 400;
  color: #f4f4fd;
}
