body {
  background-color: white;
  font-family: "Roboto", sans-serif;
  color: #434455;
}

header {
}

a,
p,
h1,
h2,
h3,
button {
  font-style: normal;
  color: inherit;
}

button {
  cursor: pointer;
}

nav {
}

ul,
ol {
  list-style: none;
}

li {
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

nav ul {
}

.nav-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.nav-link:hover {
  color: #404bbf;
}

.nav-link:focus {
  color: #404bbf;
}

.header-address {
  font-style: normal;
}

.header-address ul {
}

.address-link {
  font-size: 16px;
  font-weight: 400;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-link:hover {
  color: #404bbf;
}

.address-link:focus {
  color: #404bbf;
}

header .logo-header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  color: #4d5ae5;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

header .logo-header span {
  color: #2e2f42;
}

.preview {
  background-color: #2e2f42;
}

.preview-title {
  font-size: 56px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.order-button {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  border: 0;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.order-button:hover {
  background-color: #404bbf;
}

.order-button:focus {
  background-color: #404bbf;
}

.plans-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.plan-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.plan-content {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team {
  background-color: #f4f4fd;
}

.team-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.team-item {
  background-color: #ffffff;
}

.ti-header {
  font-size: 20px;
  font-weight: 500;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.ti-title {
  font-size: 16px;
  font-weight: 400;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio h2 {
  font-size: 36px;
  font-weight: 700;
  color: #2e2f42;
}

.portfolio ul li div h3 {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
}

.portfolio ul li div p {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
}

.footer {
  background-color: #2e2f42;
}

.footer .logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  color: #4d5ae5;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.logo-footer-span {
  color: #f4f4fd;
}

.footer-content {
  font-size: 16px;
  font-weight: 400;
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
